{% extends "site_base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block body_class %}home{% endblock %}
{% block body %}

<div class="jumbotron">
<div class="col-md-12 col-xs-12">
    {% if request.user.is_staff %}
    <h3>Acciones Rápidas</h3>
    <div class="btn-group">
        <!-- <a href="{% url 'asistencia_nueva' %}" class="btn btn-primary btn-lg">Nueva Asistencia</a>-->
        <a href="{% url 'alumnos_lista' %}" class="btn btn-default btn-lg" >Asistencia</a>
        <a href="{% url 'clases_lista' %}" class="btn btn-default btn-lg" >Clientes</a>
        <a href="{% url 'profesores_lista' %}" class="btn btn-default btn-lg" >Profesores</a>

    </div>
    {% else %}
        {% url "account_login" as login_url %}
        <p> {% blocktrans %}Esta web no es de acceso publico, para entrar necesitas hacer <a href="{{ login_url }}" class="btn btn-default">Log In</a> .{% endblocktrans %}</p>
    {% endif %}
</div>
</div>

<div class="jumbotron">
    <!-- <h1>{% trans "Bienvenido a Kontulari.eu" %}</h1> -->
    <p>
        {% url "about" as about_url %}
        Esta web es una instalación de <b>Kontulari</b>. <b>Kontulari</b> es un software de gestión para la pymes desarrolado por etxea.net. Con <b>Kontulari</b> podrás gestionar el día a día de tu empresa y generar facturas. <a href="{{about_url}}"Saber más</a>.
    </p>
</div>
{% endblock %}
