{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<div class="jumbotron">
{% if user.is_authenticated %}
<div class="col-md-12 col-xs-12">
    <h3>Acciones Rápidas</h3>
    <div class="btn-group">
        <a href="{% url 'parte_nuevo' %}" class="btn btn-primary btn-lg">Nuevo Parte</a>
        <a href="{% url 'partes_lista' %}" class="btn btn-default btn-lg" >Partes</a>
        <a href="{% url 'cliente_lista' %}" class="btn btn-default btn-lg" >Clientes</a>
        <a href="{% url 'about' %}" class="btn btn-default btn-lg" >Acerca de...</a>
    </div>
</div>
{% else %}
{% url "account_login" as login_url %}
    <p> {% blocktrans %}Haz <a href="{{ login_url }}" class="btn btn-default">Log In</a> .{% endblocktrans %}</p>
{% endif %}
</div>

<div class="jumbotron">
    <!-- <h1>{% trans "Bienvenido a Kontulari.eu" %}</h1> -->
    <p>
        {% url "about" as about_url %}
        <b>Kontulari</b> es un software de gestión para la pymes, podrás gestionar clientes partes y bonos de mantenimiento y generar facturas. <a href="{{about_url}}"Saber más</a>.
    </p>   
</div>
{% endblock %}
