{% extends "theme_base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block style_base %}
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" /> -->
    {% block extra_style %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}
{% if request.user.is_authenticated %}
<ul class="nav navbar-nav">
    {% if request.user.is_staff %}

    <li class="dropdown" id="Particulares" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Particulares <b class="caret"></b></a>
    
        <ul class="dropdown-menu">
            <li>
                <a href="{% url 'alumnos_lista' %}">Alumnos</a>
            </li>
            <li id="gruos" >
                <a href="{% url 'clases_lista' %}">Grupos</a>
            </li>
            <li id="notas" >
                <a href="">Notas</a>
            </li>
            <li id="Asistencias" >
                <a href="{% url 'asistencias_lista' %}">Asistencias</a>
            </li>
            <li class="divider"></li>

            <li><a href="{% url 'aulas_lista' %}">Aulas</a></li>
            <a href="{% url 'cursos_lista' %}">Cursos</a>
            <li><a href="#">Libros</a></li>
            <li><a href="#">Bancos</a></li>
            <li><a href="#">Calendario</a></li>
            
            
        </ul>
    </li>

    <li class="dropdown" id="Empresas" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Empresa <b class="caret"></b></a>

        <ul class="dropdown-menu">
            <li>
                <a href="{% url 'cliente_lista' %}">Empresas</a>
            </li>
            <li id="Cursos" >
                <a href="{% url 'cursos_lista' %}">Cursos</a>
            </li>
            <li id="Asistencias" >
                <a href="{% url 'asistencias_lista' %}">Asistencias</a>
            </li>
            <li class="divider"></li>
            <li id="Facturas" >
                <a href="{% url 'facturas_lista' %}">Facturas</a>
            </li>

        </ul>
    </li>

    <li id="Profesors" >
        <a href="{% url 'profesores_lista' %}">Profesores</a>
    </li>
    
    
    {% else %}
    <li id="Asistencias" >
        <a href="{% url 'asistencias_lista' %}">Asistencias</a>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}


{% block script_base %}
    <script src="{% block jquery_src %}{% static 'pinax/js/jquery.js' %}{% endblock %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pinax/js/theme.js' %}"></script>
    <!-- <script src="{% static 'bootstrap/js/button.js' %}"></script> -->
    {% block extra_script %}{% endblock %}
{% endblock %}
