{% extends "site_base.html"%}
{% load bootstrap_tags %}
{% load i18n %}

{% block body %}
    {% if accion == "crear" %}
    <h1>{% trans "Nuevo Cliente" %}</h1>
    
    {% else %}
    <h1>{% trans "Editar Cliente" %}</h1>
    
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form|as_bootstrap }}    
      <br />  
      <div class="form-actions">
      <a href="{% url 'cliente_lista' %}" class="btn">{% trans "Go back" %}</a>
      <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
      </div>
    </form>
{% endblock %}
