{% extends "site_base.html"%}
{% load url from future %}
{% load i18n %}

{% block body %}

        
<div class="row">
    <div class="col-md-10 col-xs-12">
        <h4>Listado de clientes</h4>
        <table class="table">
            <thead>
                <tr>
                <td>Nombre</td>
                <td>Email</td>
                <td>Telefono</td>
                <td>H. Pendientes</td>
                <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
            {% for cliente in object_list %}
            <tr>
                
                <td><a href="{{cliente.get_absolute_url}}">{{ cliente.nombre }}</a></td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.get_horas_pendientes }}</td>
                <td>
                    -|
                    <a href="{% url 'parte_nuevo_cliente' cliente.id %}"><i class="icon-plus"></i>horas</a>|
                    <a href="{% url 'partes_lista_cliente' cliente.id %}"><i class="icon-eye-open"></i>horas</a>|-
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
    <h4>Acciones</h4>
    <a href="{% url 'cliente_nuevo' %}"><button>Nuevo</button></a>
    </div>
</div>
{% endblock %}
