{% extends "site_base.html"%}

{% load i18n %}

{% block body %}

    <h1>{% trans "Cliente" %} {{object.nombre}} <a href="{% url 'cliente_editar' object.id %}"><span class="glyphicon glyphicon-pencil"></span></a> </h1>

    <table class="table">
        <tr>
            <td>Nombre</td><td>{{object.nombre}}</td>
        </tr>
        <tr>
            <td>Razón Social</td><td>{{object.razon_social}}</td>
        </tr>
        <tr>
            <td>NIF</td><td>{{object.NIF}}</td>
        </tr>
        <tr>
            <td>Dirección</td><td>{{object.direccion}}</td>
        </tr>
        <tr>
            <td>E-mail</td><td><a href="mailto:{{object.user.email}}">{{object.user.email}}</a></td>
        </tr>

    </table>
    <h3>Cursos</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                </tr>
            </thead>
            <tbody>
            {% for curso in object.curso_set.all %}
            <tr>

                <td><a href="{{curso.get_absolute_url}}">{{ curso.nombre }}</a></td>
                <td>{{curso.inicio}}</td>
                <td>{{curso.fin}}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    <h3>Facturas</h3>
        <table class="table">
            <thead>
                <th>Numero</th>
                <th>Fecha</th>
                <th>Importe</th>
                <th>Borrador</th>
                <th>Pagada</th>
            </thead>
            <tbody>
                {% for factura in object.factura_set.all %}
                <tr>
                    <td> <a href="{{ factura.get_absolute_url }}">{{ factura.numero }}</a> </td>
                    <td>{{ factura.fecha }}</td>
                    <td>{{ factura.total }}</td>
                    <td>{{ factura.borrador }}</td>
                    <td>{{ factura.pagada }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

{% endblock %}
