{% extends "site_base.html"%}
{% load url from future %}
{% load i18n %}

{% block body %}


<div class="row">
    <div class="col-md-10 col-xs-12">
        <h4>Listado de clientes</h4>
        <table class="table">
            <thead>
                <tr>
                <td>Nombre</td>
                
                <td>Telefono</td>
                <td>H. Pendientes</td>
                <td>Cursos</td>
                <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
            {% for cliente in object_list %}
            <tr>

                <td><a href="{{cliente.get_absolute_url}}">{{ cliente.nombre }}</a></td>
                
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.get_horas_pendientes }}
                <a href="{% url 'asistencias_lista_cliente' cliente.id %}" alt="Ver asistencias del cliente" >
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                </td>
                <td>
                    <table>
                        {% for curso in cliente.curso_set.all %}
                        <tr>
                            <td>{{curso.nombre}}</td>
                            <td>
                                <a href="{% url 'asistencia_nueva_curso' curso.id %}" alt="Nuevo asistencia" >
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="{% url 'asistencias_lista_curso' curso.id %}" alt="Ver asistencias" >
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor%}
                    </table>
                </td>
                <td>
                    <a href="{% url 'cliente_detalle' cliente.id %}"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="{% url 'cliente_editar' cliente.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'cliente_borrar' cliente.id %}"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
    <h4>Acciones</h4>
    <a href="{% url 'cliente_nuevo' %}"><button>Nuevo</button></a>
    </div>
</div>
{% endblock %}
