{% extends "site_base.html"%}

{% load i18n %}

{% block body %}

    <h1>{% trans "Cliente" %} {{object.nombre}} <a href="{% url 'cliente_editar' object.id %}"><span class="glyphicon glyphicon-pencil"></span></a> </h1>

    <table class="table">
        <tr>
            <td>Nombre</td><td>{{object.nombre}}</td>
        </tr>
        <tr>
            <td>Razón Social</td><td>{{object.razon_social}}</td>
        </tr>
        <tr>
            <td>NIF</td><td>{{object.NIF}}</td>
        </tr>
        <tr>
            <td>Dirección</td><td>{{object.direccion}}</td>
        </tr>
        <tr>
            <td>E-mail</td><td><a href="mailto:{{object.user.email}}">{{object.user.email}}</a></td>
        </tr>

    </table>
    <h3>Contactos</h3>
    <table class="table">
        <thead>
            <th>Nombre</th><th>Email</th><th>Telefono</th><th>Funcion</th>
        </thead>
        <tbody>
        {% for contacto in object.clientecontacto_set.all %}
            <tr>
                <td>{{contacto.nombre}}</td><td>{{contacto.email}}</td><td>{{contacto.telefono}}</td><td>{{contacto.funcion}}</td><td><a href="{% url 'cliente_contacto_del' contacto.id %}" ><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalContacto">Nuevo contacto</button>
    
    <!-- Modal -->
    <div class="modal fade" id="ModalContacto" tabindex="-1" role="dialog" aria-labelledby="ModalContactoLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="ModalContactoLabel">Nuevo Contacto</h4>
          </div>
          <div class="modal-body">
              
              <form action="{% url 'cliente_contacto_add' object.id %}" method="post" role="form" >
                {% csrf_token %}
                {{contacto_form.as_p}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <h3>Cursos</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                </tr>
            </thead>
            <tbody>
            {% for curso in object.curso_set.all %}
            <tr>

                <td><a href="{{curso.get_absolute_url}}">{{ curso.nombre }}</a></td>
                <td>{{curso.inicio}}</td>
                <td>{{curso.fin}}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    <h3>Facturas</h3>
        <table class="table">
            <thead>
                <th>Numero</th>
                <th>Fecha</th>
                <th>Importe</th>
                <th>Borrador</th>
                <th>Pagada</th>
            </thead>
            <tbody>
                {% for factura in object.factura_set.all %}
                <tr>
                    <td> <a href="{{ factura.get_absolute_url }}">{{ factura.numero }}</a> </td>
                    <td>{{ factura.fecha }}</td>
                    <td>{{ factura.total }}</td>
                    <td>{{ factura.borrador }}</td>
                    <td>{{ factura.pagada }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

{% endblock %}
