{% extends "site_base.html"%}

{% load i18n %}

{% block body %}

    <h1>{% trans "Profesor" %} {{object.user.username}}</h1>

    <table class="table">
        <tr>
            <td>Nombre</td><td>{{object.user.first_name}}</td>
        </tr>
        <tr>
            <td>Apellido(s)</td><td>{{object.user.last_name}}</td>
        </tr>
        <tr>
            <td>Usuario</td><td>{{object.user.username}}</td>
        </tr>
        <tr>
            <td>Teléfono</td><td>{{object.telefono}}</td>
        </tr>
        <tr>
            <td>E-mail</td><td><a href="mailto:{{object.user.email}}">{{object.user.email}}</a></td>
        </tr>

    </table>
    <a href="{% url 'profesor_editar' object.user.id %}">Editar</a>

{% endblock %}
