{% extends "site_base.html"%}
{% load url from future %}
{% load i18n %}

{% block body %}


<div class="row">
    <div class="col-md-10 col-xs-12">
        <h4>Listado de profesors</h4>
        <table class="table">
            <thead>
                <tr>
                <td>Nombre</td>
                <td>Email</td>
                <td>Telefono</td>
                <td>H. Pendientes</td>
                <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
            {% for profesor in object_list %}
            <tr>

                <td><a href="{{profesor.get_absolute_url}}">{{ profesor.user.username }}</a></td>
                <td>{{ profesor.email }}</td>
                <td>{{ profesor.telefono }}</td>
                <td>{{ profesor.get_horas_pendientes }}</td>
                <td>

                    <a class="btn btn-mini btn-info" href="{% url 'asistencia_lista_profesor' profesor.id %}" alt="Ver Asistencias" >
                        <i class="icon-eye-open"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
    <h4>Acciones</h4>
    <a href="{% url 'profesor_nuevo' %}"><button>Nuevo</button></a>
    </div>
</div>
{% endblock %}
