{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura #{{factura.numero}}</title>
    <link rel="stylesheet" href='{% static "css/bootstrap_invoice.css" %}'>
    <style>
    @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
    body, h1, h2, h3, h4, h5, h6{
        font-family: 'Bree Serif', serif;
    }
    </style>
</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-xs-6">
              <h1>
                <a href="https://twitter.com/tahirtaous">
                  <img src='{% static "logo_4581.gif" %}'>

                </a>
              </h1>
            </div>
            <div class="col-xs-6 text-right">
              <h1>FACTURA</h1>
              <h1><small>Factura #{{factura.numero}}</small></h1>
            </div>
        </div>

          <div class="row">
            <div class="col-xs-5">
              <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4>De: <a href="#">EIDE</a></h4>
                      </div>
                      <div class="panel-body">
                        <p>
                            Escuelas Internaciones para el Desarrollo y la Educación S.L. <br>
                            B47..... <br>
                            c/Genraro Oraá 6 <br>
                            48980 Santurce <br>
                            España <br>
                        </p>
                      </div>
                    </div>
            </div>
            <div class="col-xs-5 col-xs-offset-2 text-right">
              <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4>Para : <a href="{{factura.cliente.get_absolute_url}}">{{factura.cliente.razon_social}}</a></h4>
                      </div>
                      <div class="panel-body">
                        <p>
                          {{factura.cliente.NIF}} <br>
                          {{factura.cliente.direccion}} <br>
                          details <br>
                          more <br>
                        </p>
                      </div>
                    </div>
            </div>
          </div> <!-- / end client details section -->

                 <table class="table table-bordered">
        <thead>
          <tr>
            <th><h4>Concepto</h4></th>
            <!-- <th><h4>Description</h4></th> -->
            <th><h4>Horas/Cantidad/Qty</h4></th>
            <th><h4>Precio</h4></th>
            <th><h4>Sub Total</h4></th>
          </tr>
        </thead>
        <tbody>
            {% for concepto in factura.concepto_set.all %}
            <tr>
                <td>{{concepto.nombre}}</td>
                <!-- <td><a href="#">Title of your article here</a></td>-->
                <td class="text-right">{{concepto.cantidad}}</td>
                <td class="text-right">{{concepto.precio}}€</td>
                <td class="text-right">{{concepto.total}}€</td>
            </tr>
            {% endfor %}
            <!--
          <tr>
            <td>Article</td>
            <td><a href="#">Title of your article here</a></td>
            <td class="text-right">-</td>
             <td class="text-right">$200.00</td>
              <td class="text-right">$200.00</td>
          </tr>
          <tr>
            <td>Template Design</td>
            <td><a href="#">Details of project here</a></td>
            <td class="text-right">10</td>
             <td class="text-right">75.00</td>
              <td class="text-right">$750.00</td>
          </tr>
          <tr>
            <td>Development</td>
            <td><a href="#">WordPress Blogging theme</a></td>
            <td class="text-right">5</td>
             <td class="text-right">50.00</td>
              <td class="text-right">$250.00</td>
          </tr>
          -->
        </tbody>
      </table>

        <div class="row text-right">
            <div class="col-xs-2 col-xs-offset-8">
                <p>
                    <strong>
                        Sub Total : <br>
                        IVA : <br>
                        Total : <br>
                    </strong>
                </p>
            </div>
            <div class="col-xs-2">
                <strong>
                    {{factura.subtotal}}€ <br>
                    21% <br>
                    {{factura.calcular_total}}€ <br>
                </strong>
            </div>
        </div>


        <div class="row">
          <div class="col-xs-5">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>Bank details</h4>
              </div>
              <div class="panel-body">
                <p>EIDE</p>
                <p>Kutxabank</p>
                <p>SWIFT : --------</p>
                <p>Account Number : --------</p>
                <p>IBAN : --------</p>
              </div>
            </div>
          </div>
          <div class="col-xs-7">
           <div class="span7">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h4>Detalles de contacto</h4>
                </div>
                <div class="panel-body">
                  <p>
                    Email : eide@eide.es <br><br>
                    Teléfono : 94........ <br> <br>
                    Web  : <a href="http://www.eide.es">www.eide.es</a>
                  </p>
                  <h4>El pago será por: {{factura.get_forma_pago_display}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>

</body>
</html>
