{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura #{{factura.numero}}</title>
    <link rel="stylesheet" href='{% static "css/bootstrap_invoice.css" %}'>
    <style>
    @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
    body, h1, h2, h3, h4, h5, h6{
        font-family: 'Bree Serif', serif;
    }
    </style>
</head>
<body>

    <div class="container">

        {% include "facturas/_factura_plantilla.html" %}

    </div>

</body>
</html>
