<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="btn-group">
            <button class="btn btn-default btn-lg"><a href="{% url 'partes_lista' %}">Pendientes</a></button>
            <button class="btn btn-default btn-lg" href="{% url 'partes_lista_todos' %}">Todos</button>
            <button class="btn btn-default btn-lg" href="{% url 'partes_mi_lista' %}">Mios</button>
            <button class="btn btn-primary btn-lg" href="{% url 'parte_nuevo' %}" >Nuevo parte</button>
        </div>
    </div>
</div>
