<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="btn-group">
            <a href="{% url 'asistencias_lista' %}" class="btn btn-default btn-lg">Pendientes</a>
            <a class="btn btn-default btn-lg" href="{% url 'asistencias_lista_todos' %}">Todos</a>
            <a class="btn btn-default btn-lg" href="{% url 'asistencias_mi_lista' %}">Mios</a>
            <a href="{% url 'asistencia_nuevo' %}" class="btn btn-primary btn-lg">Nuevo asistencia</a>
        </div>
    </div>
</div>
