{% extends "site_base.html"%}
{% load bootstrap_tags %}
{% load i18n %}

{% block extra_script %}
<!-- para el datepicker -->
{{ form.media }}

        <script>
            $(function() {
                $("#id_fecha_picker").datetimepicker({"pickTime": false, "weekStart": 1, "language": "es-es", "format": "YYYY-MM-DD"});
                $("#id_duracion_picker").datetimepicker({"pickDate": false, "weekStart": 1, "language": "es-es", "format": "hh:mm","minuteStepping":15,"useSeconds": false,"useCurrent":false});
            });
        </script>


{% endblock %}


{% block body %}
<h1>{% trans "Nueva Asistencia" %}</h1>
<form action="" method="post" role="form" >{% csrf_token %}
<div class="form-group">
      <label class="control-label required-field" for="id_curso"> Curso </label>
      {{ form.curso }}
</div>

<div class="form-group">
      <label class="control-label" for="id_curso"> Clase </label>

</div>
<div class="form-group">
    <label class="control-label required-field" for="id_curso"> Fecha </label>
      {{ form.fecha }}
</div>
<div class="form-group">
      <label class="control-label required-field" for="id_duracion"> Duración </label>
      {{ form.duracion }}
</div>

<div class="form-group">

        {{ form.notas }}

</div>

        <button type="submit" class="btn btn-primary">Guardar</button>


</form>

{% endblock %}
