{% extends "site_base.html"%}

{% load i18n %}

{% block body %}
{% include "asistencias/_list_buttons.html" %}
<div class="row">
    <div class="col-md-10 col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Fecha</td>
                    <td>Cliente</td>
                    <td>Duracion</td>
                    <td>Usuario</td>

                </tr>
            </thead>
            <tbody>
            {% for asistencia in object_list %}
            <tr>
                <td><a href="{{ asistencia.get_absolute_url}}">{{ asistencia.fecha }}</a></td>
                <td><a href="{% url 'asistencia_nueva_curso' asistencia.curso.id %}">
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </a>
                    {{ asistencia.curso.nombre }}({{ asistencia.curso.cliente.nombre }})
                </td>
                <td>{{asistencia.duracion|date:"H:i"}}</td>
                <td>{{ asistencia.usuario.username }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "pagination/pagination.html" %}

    </div>
    {% include "asistencias/_sidebar.html" %}
</div>

{% endblock %}
